*, *:before, *:after { 
	box-sizing: border-box; 
}

a + a {
	margin-left: 15px;
	text-decoration: none;
}
  
html , body{
	font-family: 'Maven Pro'; 
	scroll-behavior: smooth;
	background: rgb(207,120,224);
	background: linear-gradient(90deg, rgba(207,120,224,1) 25%, rgba(100,249,179,1) 100%);
}

#title {
	height: 28vw;
	background-image: url(twitch_photos/night.jpg);
	background-size: cover;
	background-attachment: fixed;
}

.vertical-center{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	text-align: center;
	font-size: 9vw; 
	color: #f5f2d0;
}

.center{
	width: 50%;
}

.texture-pack{
	margin: 10px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 2vw; 
	text-decoration: none;
	margin-bottom: 2vw;
}

.navbar-links{
	padding-top: 10px;
	padding-left: 20px;
	text-decoration: none;
	font-size: 20px;
	text-align: center;
}

.navbar-links a{
	color: #BDECEE;
	text-decoration: none;
}

.video{
	margin: auto;
	margin-bottom: 20px;
}
